* {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container {
    width: 60%;
    margin: 50px auto;
    display: grid;

    /* Repeat */
    /* grid-template-columns: repeat(4, 1fr) repeat(5, 1.5fr); */

    /* Min & Max Content */
    /* grid-template-columns: 1fr max-content 1fr;
    grid-template-columns: 1fr min-content 1fr; */

    /* Auto Fill & Auto Fit */
    /* grid-template-columns: repeat(auto-fit, 100px);
    grid-template-columns: repeat(auto-fill, 100px);
    border: 1px solid chartreuse; */

    /* Minmax() */
    grid-template-columns: 1fr minmax(200px, 300px) 1fr;
}

.item {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(even) {
    background-color: salmon;
}
